<div class="depot_form">
  <%= form_for @user, html: {class: 'form-horizontal'} do |f| %>
      <% if @user.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@user.errors.count, "error") %>
              prohibited this user from being saved:</h2>
            <ul>
              <% @user.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <fieldset>
        <legend>Enter User Details</legend>

        <div class="control-group">
          <%= f.label :name, class: 'control-label' %>
          <div class="controls">
            <%= f.text_field :name, size: 40, placeholder: 'Your Name' %>
          </div>
        </div>

        <div class="control-group">
          <%= f.label :email, 'Email', class: 'control-label' %>
          <div class="controls">
            <%= f.email_field :email, size: 40, placeholder: 'Email' %>
          </div>
        </div>

        <div class="control-group">
          <%= f.label :password, 'Password', class: 'control-label' %>
          <div class="controls">
            <%= f.password_field :password, size: 40, placeholder: 'Password' %>
          </div>
        </div>

        <div class="control-group">
          <%= f.label :password_confirmation, 'Confirm', class: 'control-label' %>
          <div class="controls">
            <%= f.password_field :password_confirmation, size: 40, placeholder: 'Password confirmation' %>
          </div>
        </div>

        <div class="form-actions">
          <%= button_tag 'Create User', class: 'btn btn-primary' %>
        </div>

      </fieldset>
  <% end %>
</div>