<div class="container">
  <h1>Listing orders</h1>

  <% if @orders.present? %>
      <table class="table table-hover table-condensed orders">
        <tr>
          <th>Name</th>
          <th>Address</th>
          <th>Email</th>
          <th>Pay type</th>
          <th></th>
          <% if current_user_admin? %>
              <th></th>
              <th></th>
          <% end %>
        </tr>

        <% @orders.each do |order| %>
            <tr>
              <td><%= truncate(order.name, length: 21) %></td>
              <td><%= truncate(order.address, length: 21) %></td>
              <td><%= truncate(order.email, length: 21) %></td>
              <td><%= order.pay_type %></td>
              <td><%= link_to 'Show', order, class: 'btn btn-mini btn-success' %></td>
              <% if current_user_admin? %>
                  <td><%= link_to 'Edit', edit_order_path(order), class: 'btn btn-mini btn-warning' %></td>
                  <td><%= link_to 'Destroy', order, class: 'btn btn-mini btn-danger', method: :delete, data: {confirm: 'Are you sure?'} %></td>
              <% end %>
            </tr>
        <% end %>
      </table>
  <% else %>
      <h5>You have no orders yet</h5>
  <% end %>

  <br/>

  <%= link_to 'На главную', store_path %>
  <p><%= will_paginate @orders %></p>
</div>

