<div class="container">
  <p>
    <b>Name:</b>
    <%= @order.name %>
  </p>

  <p>
    <b>Address:</b>
    <%= @order.address %>
  </p>

  <p>
    <b>Email:</b>
    <%= @order.email %>
  </p>

  <p>
    <b>Pay type:</b>
    <%= @order.pay_type %>
  </p>

  <table class="table table-hover table-condensed table-bordered">
    <thead>
    <tr>
      <th>Product</th>
      <th>Unit price</th>
      <th>Quantity</th>
      <th>Product's total price</th>
    </tr>
    </thead>
    <% @products.each do |product| %>
        <tr>
          <td><%= product[:title] %></td>
          <td><%= formatted_currency(product[:unit_price]) %></td>
          <td><%= product[:quantity] %></td>
          <td><%= formatted_currency(product[:total_price]) %></td>
        </tr>
    <% end %>
  </table>

  <% if @order.total_sum %>
    <p>Order's total price is <b><%= formatted_currency(@order.total_sum) %></b></p>
  <% end %>

  <% if current_user_admin? %>
      <%= link_to 'Edit', edit_order_path(@order) %> |
  <% end %>
  <%= link_to 'Back', orders_path %>
</div>