<%= form_for @product, html: {class: 'form-horizontal'} do |f| %>
    <div class="control-group">
      <%= f.label :title, class: 'control-label' %>
      <div class="controls">
        <%= f.text_field :title, size: 40, placeholder: 'Title of the product', required: true %>
        <%= render 'shared/validation_message', object: @product, field: :title %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :category, class: 'control-label' %>
      <div class="controls">
        <%= f.select :category_id, Category.all.map { |c| [c.title, c.id] } %>
        <%= render 'shared/validation_message', object: @product, field: :category %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :description, class: 'control-label' %>
      <div class="controls">
        <%= f.text_area :description, rows: 6, placeholder: 'Please describe the product', required: true %>
        <%= render 'shared/validation_message', object: @product, field: :description %>
      </div>
    </div>

    <% if !@product.new_record? && @product.image_url.present? %>
        <div class="control-group">
          <%= label_tag 'Current image', nil, class: 'control-label' %>
          <div class="controls">
            <%= image_tag @product.image_url.thumb %>
          </div>
        </div>
    <% end %>

    <div class="control-group">
      <%= f.label :image_url, 'Image', class: 'control-label' %>
      <div class="controls">
        <%= f.file_field :image_url, accept: "image/jpeg,image/png,image/gif,image/jpg,image/bmp", required: true %>
        <%= render 'shared/validation_message', object: @product, field: :image_url %>
      </div>
    </div>


    <div class="control-group">
      <%= f.label :price, class: 'control-label' %>
      <div class="controls">
        <%= f.text_field :price, required: true %>
        <%= render 'shared/validation_message', object: @product, field: :price %>
      </div>
    </div>

    <div class="form-actions">
      <%= button_tag 'Submit', class: 'btn btn-primary' %>
    </div>
<% end %>
