<div class="container">
  <h1>Listing products</h1>
  <table class="table table-hover table-condensed orders">
    <% @products.each do |product| %>
        <tr>
          <td><%= image_tag(product.image_url, size: '250x150') %></td>
          <td>
            <dl>
              <dt><%= product.title %></dt>
              <dd><%= truncate(strip_tags(product.description), length: 180) %></dd>
            </dl>
          </td>
          <td><%= link_to 'Show', product, class: 'btn btn-mini btn-success' %></td>
          <td><%= link_to 'Edit', edit_product_path(product), class: 'btn btn-mini btn-warning' %></td>
          <td>  <%= link_to 'Destroy', product,
                            class: 'btn btn-mini btn-danger',
                            confirm: 'Are you sure?',
                            method: :delete %>
          </td>
        </tr>
    <% end %>
  </table>
  <br/>
  <%= link_to 'New product', new_product_path, class: 'btn btn-primary' %>
  <p><%= will_paginate @products %></p>

</div>