<% if line_item == @current_item %>
    <tr id="current_item" class="line_item">
<% else %>
    <tr class="line_item">
<% end %>

<td>
  <%= link_to '<i class="icon-minus-sign icon-white edit-item"></i>'.html_safe,
              decrease_line_items_path(product_id: line_item.product_id),
              remote: true
  %>
  <span class="quantity">
    <%= line_item.quantity %>
  </span>
  <%= link_to '<i class="icon-plus-sign icon-white edit-item"></i>'.html_safe,
              '#',
              class: 'increase-item'
  %>
</td>

<td>
  <span class="title">
    <%= line_item.product.title %>
    (<%= number_to_currency(line_item.product.price, unit: "$", format: "%u%n") %>)
  </span>
</td>
<td class="item_price"><%= number_to_currency(line_item.total_price, unit: "$", format: "%u%n") %></td>

<%= form_tag '/en/line_items', remote: true, class: 'form-increase' do %>
    <%= hidden_field_tag 'product_id', line_item.product_id %>
<% end %>
</tr>
