<% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>

<div class="row-fluid marketing">
  <div class="span12">

    <div class="jumbotron">
      <div id="myCarousel" class="carousel slide">
        <!-- Carousel items -->
        <div class="carousel-inner">
          <% @products.each do |product| %>
              <div class="item
            <%= product == @products.first ? 'active' : '' %>">
                <%= link_to (image_tag product.image_url), product_path(product) %>
                <div class="carousel-caption">
                  <h3>
                    <%= link_to product.title, product_path(product) %>
                  </h3>
                </div>
              </div>
          <% end %>

        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
      </div>
    </div>
  </div>
</div>
<hr>
<h1><%= t('.title_html') %></h1>

<div class="container">
  <div class="row">
    <div class="span12">
      <div class="row-fluid">
        <ul class="thumbnails">
          <% @products.each do |product| %>
              <li class="span4">
                <div class="thumbnail">
                  <%= link_to (image_tag(product.image_url, class: 'img-polaroid', size: "260x120")), product_path(product) %>
                  <div class="caption">
                    <h4><%= link_to "#{product.title}", product_path(product) %></h4>

                    <p><a href="#" class="btn btn-primary">Купить</a></p>
                  </div>
                </div>
              </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>