<% unless params[:category_id] || params[:page].to_i > 1 %>
    <div id="carousel">
      <%= render 'store/carousel', products: @products %>
    </div>
<% end %>

<div class="container-fluid">
  <div class="row">
    <div class="span3">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
          <% @available_categories.each do |category| %>
              <li class="<%= params[:category_id].to_i == category.id ? 'active' : '' %>">
                <%= link_to category.title_ru, store_path(category_id: category.id) %>
              </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="span9 products" id="store_products">
      <div class="row">
        <ul class="thumbnails">
          <div class="span12">
            <%= render 'bread_crumb' if params[:category_id] %>
          </div>
          <% @products.each do |product| %>
              <li class="span3">
                <div class="thumbnail product">
                  <%= link_to (image_tag product.image_url.thumb), product_path(product) %>
                  <div class="caption">
                    <h5><%= link_to product.title, product_path(product) %></h5>

                    <p> Цена: $<%= product.price %></p>
                    <%= button_to t('.add_html'), line_items_path(product_id: product), remote: true, class: 'btn btn-mini btn-primary btn_add_product' %>
                  </div>
                </div>
              </li>
          <% end %>
        </ul>
        <%= will_paginate @products %>
      </div>
    </div>
  </div>
</div>