<% if @products.present? %>
    <div class="carousel_container">
      <div class="container">
        <div class="row">
          <div class="span9 offset1">
            <div id="myCarousel" class="carousel slide">
              <div class="carousel-inner">
                <% @products.each do |product| %>
                    <div class="item <%= product == @products.first ? 'active' : '' %>">
                      <%= image_tag product.image_url, alt: '' %>
                      <div class="container">
                        <div class="carousel-caption">
                          <p class="lead"><%= product.title %></p>
                        </div>
                      </div>
                    </div>
                <% end %>
              </div>
              <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
              <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>

<div class="container-fluid">
  <div class="row">
    <div class="span3">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
          <% @available_categories.each do |category| %>
            <li><%= link_to category, '#' %></li
            <% if category != @available_categories.last %>
              <li class="divider"></li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="span9 products">
      <div class="row">
        <ul class="thumbnails">
          <% @products.each do |product| %>
              <li class="span3">
                <div class="thumbnail product">
                  <%= link_to (image_tag product.image_url), product_path(product) %>
                  <div class="caption">
                    <h5><%= link_to product.title, product_path(product) %></h5>
                  </div>
                </div>
              </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>