<div class="card">
</div>

<div class="container-fluid">
  <div class="hero-unit">
    <div class="span4">
      <h4><%= link_to 'Super Online Store', store_path %></h4>
    </div>
    <div class="span4 phone">
      <h5> +7 (111) 222-333-444 </h5>
    </div>
    <div class="span5 top-menu">
      <ul class="nav nav-pills">
        <li><a href="#">Доставка и оплата</a></li>
        <li><a href="#">Контакты</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="carousel_container">
  <div class="container">
    <div class="row">
      <div class="span9 offset1">
        <div id="myCarousel" class="carousel slide">
          <div class="carousel-inner">
            <% @products.each do |product| %>
                <div class="item <%= product == @products.first ? 'active' : '' %>">
                  <%= image_tag product.image_url, alt: '' %>
                  <div class="container">
                    <div class="carousel-caption">
                      <p class="lead"><%= product.title %></p>
                    </div>
                  </div>
                </div>
            <% end %>
          </div>
          <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
          <li class="nav-header">Лицо</li>
          <li><a href="#">Тени</a></li>
          <li><a href="#">Помада</a></li>
          <li><a href="#">Тушь</a></li>
          <li class="nav-header">Тело</li>
          <li><a href="#">Увлажняющие крема</a></li>
          <li><a href="#">Скрабы для лица</a></li>
          <li><a href="#">Нежирные крема</a></li>
          <li class="nav-header">Снятие макияжа</li>
          <li><a href="#">Тоники</a></li>
          <li><a href="#">Лосьоны</a></li>
          <li><a href="#">Молочко</a></li>
        </ul>
      </div>
      <!--/.well -->
    </div>
    <!--/span-->
    <div class="span9">

      <ul class="breadcrumb">
        <li>
          <%= link_to 'Главная', store_path %>
          <span class="divider">/</span>
        </li>
        <li class="active">Помада</li>
      </ul>

      <div class="row-fluid">
        <ul class="thumbnails">
          <% @products.each do |product| %>
              <li class="span3">
                <div class="thumbnail product">
                  <%= link_to (image_tag product.image_url), product_path(product) %>
                  <div class="caption">
                    <h5><%= link_to product.title, product_path(product) %></h5>
                  </div>
                </div>
              </li>
          <% end %>
        </ul>
      </div>
      <!--/row-->
    </div>
    <!--/span-->
  </div>
  <!--/row-->

  <hr>

  <footer>
    <p>© Company 2013</p>
  </footer>

</div>