<!DOCTYPE html>
<html>
<head>
  <title>Awesome Online Store</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
</head>
<body>
<div class="container-narrow">

  <div class="masthead">
    <ul class="nav nav-pills pull-right">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
      <% if logged_in? %>
          <li><%= link_to 'Orders', orders_path %></li>
          <li><%= link_to 'Logout', logout_path, method: :delete %></li>
      <% else %>
          <li><%= link_to 'Login', login_path %></li>
      <% end %>
    </ul>
    <h3 class="muted">Awesome Online Store</h3>
  </div>

  <hr>

  <div class="jumbotron">
    <div id="myCarousel" class="carousel slide">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <!-- Carousel items -->
      <div class="carousel-inner">
        <div class="item">
          <%= image_tag 'dlya-litsa-i-tela-maski-dlya-litsa-i-tela--foto-carousel.jpg' %>
        </div>
        <div class="item">
          <%= image_tag 'dlya-vann-morskaya-sol-mertvogo-morya--foto-carousel.jpg' %>
        </div>
        <div class="item">
          <%= image_tag 'dlya-vann-suhoe-molochko-dlya-vannyi--foto-carousel.jpg' %>
        </div>
      </div>
      <!-- Carousel nav -->
      <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>
  </div>

  <hr>

  <div class="row-fluid marketing">
    <div class="span6">
      <h4>Subheading</h4>

      <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

      <h4>Subheading</h4>

      <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet
        fermentum.</p>

      <h4>Subheading</h4>

      <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
    </div>

    <div class="span6">
      <h4>Subheading</h4>

      <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

      <h4>Subheading</h4>

      <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet
        fermentum.</p>

      <h4>Subheading</h4>

      <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
    </div>
  </div>

  <hr>

  <div class="footer">
    <p>© Company 2013</p>
  </div>

</div>
<%= yield %>
</body>
</html>